nav{
    height: 50px;
    background-color: rgb(0, 0, 0);
    color:rgb(231, 231, 231);
}
nav a{
    font-size: 20px;
    padding: 12px;
    color: rgb(243, 243, 243);
    text-decoration: none;

}